@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

/*
@styleguide

# 2. 菱形布局

<div class="grid-wrapper layout-1">
  <div class="grid-item diamond-small diamond-s1">
<div class="diamond__content">
  <p>small diamond</p>
</div>
  </div>
  <div class="grid-item diamond-med diamond-m1">
<div class="diamond__content">
  <p>medium diamond</p>
</div>
  </div>
  <div class="grid-item diamond-large diamond-l1">
<div class="diamond__content">
  <p>large diamond</p>
</div>
  </div>
  <div class="grid-item diamond-small diamond-s2">
<div class="diamond__content">
  <p>small diamond</p>
</div>
  </div>
  <div class="grid-item diamond-med diamond-m2">
<div class="diamond__content">
  <p>medium diamond</p>
</div>
  </div>
</div>

<div class="grid-wrapper layout-2">
  <div class="grid-item diamond-small diamond-s1">
<div class="diamond__content">
  <p>small diamond</p>
</div>
  </div>
  <div class="grid-item diamond-med diamond-m1">
<div class="diamond__content">
  <p>medium diamond</p>
</div>
  </div>
  <div class="grid-item diamond-large diamond-l1">
<div class="diamond__content">
  <p>large diamond</p>
</div>
  </div>
  <div class="grid-item diamond-small diamond-s2">
<div class="diamond__content">
  <p>small diamond</p>
</div>
  </div>
  <div class="grid-item diamond-med diamond-m2">
<div class="diamond__content">
  <p>medium diamond</p>
</div>
  </div>
</div>

    <div class="grid-wrapper layout-1">
      <div class="grid-item diamond-small diamond-s1">
        <div class="diamond__content">
          <p>small diamond</p>
        </div>
      </div>
      <div class="grid-item diamond-med diamond-m1">
        <div class="diamond__content">
          <p>medium diamond</p>
        </div>
      </div>
      <div class="grid-item diamond-large diamond-l1">
        <div class="diamond__content">
          <p>large diamond</p>
        </div>
      </div>
      <div class="grid-item diamond-small diamond-s2">
        <div class="diamond__content">
          <p>small diamond</p>
        </div>
      </div>
      <div class="grid-item diamond-med diamond-m2">
        <div class="diamond__content">
          <p>medium diamond</p>
        </div>
      </div>
    </div>

    <div class="grid-wrapper layout-2">
      <div class="grid-item diamond-small diamond-s1">
        <div class="diamond__content">
          <p>small diamond</p>
        </div>
      </div>
      <div class="grid-item diamond-med diamond-m1">
        <div class="diamond__content">
          <p>medium diamond</p>
        </div>
      </div>
      <div class="grid-item diamond-large diamond-l1">
        <div class="diamond__content">
          <p>large diamond</p>
        </div>
      </div>
      <div class="grid-item diamond-small diamond-s2">
        <div class="diamond__content">
          <p>small diamond</p>
        </div>
      </div>
      <div class="grid-item diamond-med diamond-m2">
        <div class="diamond__content">
          <p>medium diamond</p>
        </div>
      </div>
    </div>

*/body{font-family:Roboto Slab;font-size:82.5%}.grid-wrapper{float:none;margin-left:auto;margin-right:auto;position:relative;height:75vw;width:100vw}.grid-wrapper:after{content:"";display:table;clear:both}.grid-item{position:absolute;transform:rotate(45deg);transform-origin:0 0}.diamond-small{background:#32cd32;box-shadow:inset 0 0 15px 5px rgba(0,0,0,.7);height:17.67767vw;width:17.67767vw}.diamond-small .diamond__content{height:17.67767vw;width:17.67767vw;display:table-cell;text-align:center;vertical-align:middle;transform:rotate(-45deg)}.diamond-small .diamond__img{width:25vw;transform:rotate(-45deg) translateY(-5vw)}.diamond-med{background:orange;box-shadow:inset 0 0 15px 5px rgba(0,0,0,.7);height:26.5165vw;width:26.5165vw}.diamond-med .diamond__content{height:26.5165vw;width:26.5165vw;display:table-cell;text-align:center;vertical-align:middle;transform:rotate(-45deg)}.diamond-med .diamond__img{width:37.5vw;transform:rotate(-45deg) translateY(-7.5vw)}.diamond-large{background:#ff0;height:35.35534vw;width:35.35534vw}.diamond-large .diamond__content{height:35.35534vw;width:35.35534vw;display:table-cell;text-align:center;vertical-align:middle;transform:rotate(-45deg)}.diamond-large .diamond__img{width:50vw;transform:rotate(-45deg) translateY(-10.625vw)}.layout-1 .diamond-s1{top:12.5vw;left:25vw}.layout-1 .diamond-m1{top:37.5vw;left:25vw}.layout-1 .diamond-s2{top:37.5vw;left:75vw}.layout-1 .diamond-m2{top:0;left:75vw}.layout-1 .diamond-l1{top:12.5vw;left:50vw}.layout-2 .diamond-s1{top:12.5vw;left:75vw}.layout-2 .diamond-s2{top:37.5vw;left:25vw}.layout-2 .diamond-m1{top:0;left:25vw}.layout-2 .diamond-m2{top:37.5vw;left:75vw}.layout-2 .diamond-l1{top:12.5vw;left:50vw}